<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="css/styles.css">
<title>ResponseSample</title>
</head>
<body>
	<h1>HelloResponse</h1>
	<!-- ポイント：Model からの値を受け取る -->
	<!-- 受け取った文字を表示する -->
	<div id="result" th:fragment="show_verb_contents">
<!--
		<div class="rr1">辭書形變化</div>
		<p th:text="${result?.dictionaryForm}"></p>

		<div class="rr1">ます形變化</div>
		<p th:text="${result?.masuForm}"></p>

		<div class="rr1">て形變化</div>
		<p th:text="${result?.teForm}"></p>

		<div class="rr1">た形變化</div>
		<p th:text="${result?.taForm}"></p>

		<div class="rr1">ない變化</div>
		<p th:text="${result?.naiForm}"></p>
 -->
		<table th:if="${result != null}">
			<tr th:each="property : ${result.properties}" class="table-row">
				<td th:text="${property.key}"></td>
				<td class="table-cell" th:text="${property.value}"></td>
			</tr>
		</table>
	</div>
</body>
</html>