<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="row" th:fragment="header_verb_contents">

		<div class="banner">
			<!-- 在这里放置您的banner内容，比如图片、标题等 
        <img src="img/bannergif.gif" alt="Banner Image">
        -->

			<h1 id="title">動詞變化</h1>
		</div>

		<h2 class="note" id="header">
			<span class="notice"> 請注意!!</span><br> <span class="span">五段動詞(I類動詞)</span><br />
			輸入時.有漢字請使用"漢字",<br> <span class="span">上下一段動詞(II類動詞)</span><br />
			,輸入時.請全程使用"平假名" <br> <span class="span">不規則動詞(III類動詞)</span><br />
			,輸入時.有漢字請使用"漢字".沒"漢字"用"假名"
		</h2>

	</div>

</body>
</html>