<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="row" th:fragment="header_verb_contents">
		<div class="d-flex justify-content-between">
			<h1 class="title">動詞變化網站</h1>
			<ul class="navbar-list">
				<li class="list-item"><a th:href="@{/home}" class="list-item">home</a></li>
				<li class="list-item"><a th:href="@{/show_verb}" class="list-item">show_verb</a></li>
				<li class="list-item"><a th:href="@{/cart}" class="list-item">cart</a></li>
				<li class="list-item"><a th:href="@{/cart_list}"
					class="list-item">cart_list</a></li>
				<li class="list-item"><a th:href="@{/ajax_db}" class="list-item">ajax</a></li>
			</ul>
		</div>
		<h2 class="note" id="header">
			<span class="notice"> 請注意!!</span><br> <span class="span">五段動詞(I類動詞)</span><br />
			輸入時.有漢字請使用"漢字",<br> <span class="span">上下一段動詞(II類動詞)</span><br />
			,輸入時.請全程使用"平假名" <br> <span class="span">不規則動詞(III類動詞)</span><br />
			,輸入時.有漢字請使用"漢字".沒"漢字"用"假名"
		</h2>

	</nav>
</body>
</html>